

.more-page{
  padding: 130px 0;
}

.more-text-box {
  width: 100%;
  min-height: 100vh;
  margin-top: 90px;
}

.text_m {
  margin-left: 50px;
  width: 70%;
  /* min-height: 225px; */
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more_p {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
}

.more_p_h3 {
  width: 75%;
}

.imges_container_m {
  width: 40%;
  height: 200vh;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.ourCompainia{
  width: 100%;
  min-height: 120vh;
  height: fit-content;
    display: flex;
    /* justify-content: space-around; */
    justify-content:space-between;
    padding-left: 10%;
}


.ourCompainia_tex{
  width:  40%;
  /* height: 230vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.moreImges1_mob{
  display: none;
}

.moreImges1_1{
  width: 446px;
  height: 629px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
 .more_p .data_p{
    font-size: 12px;
  }
  .titel_m h3{
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .ourCompainia{
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .ourCompainia_tex{
    width: 90%;
  }
  .text_m {
    margin-left: 0;
    margin-top: 30px;
  }
}


@media screen and (max-width: 576px) {
  .more_p{
    width: 100%;
    font-size: 15px;
  }
  .more_p_h3 {
    width: 100%;
  }
}
