.body {
  position: relative !important;
  background: #f8f8f8;

  width: calc(100vw - 117px);
  overflow-x: hidden;
}
.App {
  position: relative;
  display: flex;
  background-color: #f8f8f8;
}

main {
  /* padding-left: 10rem; */
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}
.line {
  text-align: center;
}

.ourOilK .item_title {
  font-size: 46px;
}

@media screen and (max-width: 768px) {
  .body {
    position: relative;
    background: #f8f8f8;
  
    width: 100%;
  }
  .components {
    position: relative;
    background: #f8f8f8;

    width: 100%;
    padding-left: 0;
  }




  .container_mobile-table {
    padding: 20px !important;
  }
  .text_box {
    width: 100% !important;
  }
  .story_container {
    padding: 40px;
  }
  .story_title {
    padding-left: 40px;
  }




  .scroll-bar {
    padding-left: 40px;
  }





  .gallery_backcground {
    width: 116vw;
  }
  .gallery-container {
    border: none;
    width: 116%;
  }
  .gallery-container {
    width: 100% !important;
  }




  .container_l {
    width: 50%;
  }
  .card_v {
    width: 44% !important;
  }
  .cards_n {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
  }



  .card {
    width: 46% !important
  ;
  }
  .container_procurement {
    margin-left: 20px;
  }



  .footer-container {
    padding: 0 !important;
  }
  .item-f.text {
    width: 50%;
  }



  .container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    margin-left: 50px;
    margin-right: 50px !important;
  }
  .ourOilK {
    width: 50%;
  }

  .ourOilK.tablet {
    display: block !important;
  }
  .ourOilK.tablet .kirgiz{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.16px;
padding-bottom: 10px;
line-height: 45px;
  }
  .ourOilText{
    color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.07px;
  }
  .ourOilK.desktop {
    display: none;
  }
  .ourOilK.right{
    padding-left: 70px;
  }
  .container{
    margin-top: 30px;
    height: fit-content;
  }
}

.ourOilK.tablet {
  display: none;
}
