.body {
  position: relative !important;
  background: skyblue;

}
.App {
  position: relative;

  background-color: skyblue;
}

main {
  /* padding-left: 10rem; */
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: skyblue;
}
.line {
  text-align: center;
}

.ourOilK .item_title {
  font-size: 46px;
}

@media screen and (max-width: 768px) {
  .body {
    position: relative;

    width: 100%;
  }
  .components {
    position: relative;

    width: 100%;
    padding-left: 0;
  }




  .container_mobile-table {
    padding: 20px !important;
  }
  .text_box {
    width: 100% !important;
  }
  .story_container {
    padding: 40px;
  }
  .story_title {
    padding-left: 40px;
  }


  .gallery-container {
    border: none;
    width: 116%;
  }
  .gallery-container {
    width: 100% !important;
  }




  .container_l {
    width: 50%;
  }

  .cards_n {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
  }




  .container_procurement {
    margin-left: 20px;
  }


  .ourOilK.tablet {
    display: block !important;
  }
  .ourOilK.tablet .kirgiz{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.16px;
padding-bottom: 10px;
line-height: 45px;
  }
  .ourOilText{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.07px;
  }
  .ourOilK.desktop {
    display: none;
  }


}

.ourOilK.tablet {
  display: none;
}
